# udev rules for samsung-galaxybook

## Create a symlink from existing ACPI Device ID-based platform device 'SAM04*:*' to '/dev/samsung-galaxybook'

### Unfortunately, it does not seem to work to use SYMLINK so we can use RUN 'ln -s ..' instead to manually create the symlink
# ACTION=="add", SUBSYSTEM=="platform", KERNEL=="SAM04[0-9][0-9]:*", SYMLINK+="samsung-galaxybook"

### If you want to trigger on "add" of platform device matching ACPI device ID pattern
# ACTION=="add", SUBSYSTEM=="platform", KERNEL=="SAM04[0-9][0-9]:*", RUN+="/usr/bin/ln -s /sys%p /dev/samsung-galaxybook"
# Note: this device will never be removed so no reason to worry about removing the symlink

### If you want to trigger on "bind" of "samsung-galaxybook" driver (meaning driver gets to control device matching)
ACTION=="bind", SUBSYSTEM=="platform", DRIVER=="samsung-galaxybook", RUN+="/usr/bin/ln -s /sys%p /dev/samsung-galaxybook"
### You can also remove the symlink on unbind, but in that case DRIVER will be empty so it will need to match on the device ID instead
ACTION=="unbind", SUBSYSTEM=="platform", KERNEL=="SAM04[0-9][0-9]:*", RUN+="/usr/bin/rm /dev/samsung-galaxybook"
